<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Select
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Shop Tools</h2>
  <p>Add tools to your toolbox</p>

  <!-- All tools available for SlideList -->
  <ion-list>
    <ion-item-sliding *ngFor="let tool of loadTools(); let i = index">

      <ion-item >
        <ion-label>{{tool.name}}</ion-label>
        <ion-icon name={{tool.icon}}></ion-icon>
      </ion-item>

      <!-- SlideList options-->
      <ion-item-options side="end">
        <ion-button (click)="addTool(tool)" color="success">
          <ion-icon slot="start" name="bag-add-sharp"></ion-icon>
          Select
        </ion-button>

        <ion-button (click)="goToDetails(tool)" color="warning">
          <ion-icon slot="start" name="eye-sharp"></ion-icon>
          Details
        </ion-button>

        <ion-button (click)="toolSelect(tool)" color="danger">
          <ion-icon slot="start" name="close-circle-sharp"></ion-icon>
          Cancel
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

    <!-- Navigate back to selected tools -->
    <ion-button (click)="goToTools()">Back to My Tools</ion-button>

</ion-content>
