<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tool Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Navigate back to selected tools -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>{{tool.id}}</h2>
  <h2>{{tool.name}}</h2>
  <h2>{{tool.icon}}</h2>
  
  <ion-button (click)="goToSelect()">Back to Select Tools</ion-button>

</ion-content>
