<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Your Toolbox</h2>
  <p>Which tool would you like to use?</p>

  <!-- <div class="container">
    <ion-button (click)="startLocate()">Geolocator</ion-button>
    <p>Latitude: {{lat}}</p>
    <p>Longitude: {{lon}}</p>
  </div> -->

  <ion-list>
    <ion-item-sliding *ngFor="let tool of loadTools(); let i = index">
      <ion-item >
        <ion-label>{{tool.name}}</ion-label>
        <ion-icon name={{tool.icon}}></ion-icon>
      </ion-item>
      <!-- SlideList options-->
      <ion-item-options side="end">

        <ion-button (click)="getGeoLocation()" color="success">
          <ion-icon slot="start" name="play-circle"></ion-icon>
          Start
        </ion-button>

        <ion-button (click)="removeTool(tool)" color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

    <p>Latitude: {{lat}}</p>
    <p>Longitude: {{lon}}</p>

  <!-- Display all selected tools -->
  <!-- <ion-button (click)="presentActionSheet(tool)" size="large" *ngFor="let tool of tools">{{tool.name}} 
    <ion-icon name={{tool.icon}}></ion-icon>
  </ion-button> -->

  <!-- <ion-button (click)="getCamera()">Camera</ion-button>
  <ion-button (click)="getFlashlight()">Light</ion-button> -->

    <!-- Navigate back to selected tools -->
    <ion-button (click)="goToSelect()">Select More Tools</ion-button>
</ion-content>

